body{
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  background: #17191C;
  color:#fff;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h3, h4, h5{
  margin: 0;
  font-weight: normal;
}

.container{
  margin: 0 auto;
  width: 1200px;
}

.header{
  position: relative;
  height: 120px;
  margin-bottom: 170px;
}

.logo{
  display: inline-block;
  position: absolute;
  top: 34px;
  left:0;
}

.menu{
  position: absolute;
  top:34px;
  left: 250px; 
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__link{
  font-size: 16px;
  text-decoration: none;
}

.contacts{
  position: absolute;
  text-align: right;
  top: 26px;
  right: 0;
}

.contacts__phone{
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
  color:#fff;
  margin-bottom: 2px;
}
.contacts__dropdown-title{
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
}

.title{
  width: 645px;
  
}

h1{
  font-weight: 700;
  font-size: 60px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.title__subtitle{
  font-weight: 400;
  font-size: 21px;
  line-height: 29px;
  margin-bottom: 76px;
  
}
.button{
  border-radius: 5px;
  padding: 18px 40px;
  color:#fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #8F00FF;
  margin-bottom: 193px;
}

.offers__item{
  display: inline-block;
  margin-right: 21px;
}

.offers__img{
  width: 362px;
  height: 144px;
}

.offers__content{
  width: 362px;
  height: 305px;
  left: 389px;
}

h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 193px;
  margin-bottom: 51px;

}
h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}

.offers__feature{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  display: inline;
}
.offers__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
}
.past__img{
  position: relative;
  width: 598px;
  height: 399px;
  left: 374px;
}
.past__content{
  position: absolute;
  bottom: 0%;
  left: 0%;

}
.past__item{
  display: inline-block;
}
.past__content-date{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.past__content-subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}
.past__content-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.paginator__display{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  
}
.paginator__list{
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

}

.about__item{
  display: inline-block;
}

.description__img{
  position: relative;
}

.description__content{
  position: absolute;
  bottom: 0%;
  left: 0%;
  color:#fff
}

.description-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

}
.contacts__info{
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  font-style: normal;
}