.button{
  border-radius: 35px;
  padding: 18px 39px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: #F5170E;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #F5170E;
  color: #FFF;
  cursor: pointer;
}

.button:hover{
  background: #FFF;
  color:#F5170E;  
  
}

.button--color--white{
  background: #fff;
  color:#F5170E;
  border: 1px solid #F5170E;
  padding: 17px 30px;
}

.button--color--white:hover{
  background: #F5170E;
  color:#FFF;
} 

.button--color-black{
  background: #2B2B2B;
  border: none;
  padding: 18px 45px;
}

.button--color-black:hover{
  background: #8E8E8E;
  color: #fff;
}

.button--color-orange:hover{
  background: #DA0100;
  color: #FFF;
}