.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 146px;
}

/* .footer__item{
  display: inline-block;
  margin-right: 50px;
} */

.footer__col{
  display: flex;
  align-items: center;
}

.footer__col--align--right{
  justify-content: flex-end;
}

.footer__menu{
  /* position: absolute; */
  /* top: 57px;
  left: 161px; */
}

.footer__logo{
  /* display: inline-block;
  position: absolute; */
  /* top: 50px;
  left: 0px; */
}

.footer__contacts {
  /* position: absolute;
  text-align: right; */
  /* top: 44px;
  right: 13px; */
}

.footer__contacts-info{
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  font-style: normal;
  text-decoration: none;
  color: #9A9A9A;
}

.footer__contacts-phone{
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 35px;
  text-decoration: none;
  color:#fff;
  margin-bottom: 2px;
}