.hero{
  padding-bottom: 123px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 118px;
  padding-top: 22px;
}

.header--secondary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 89px;
  padding-top: 24px;
}

.header__col{
  display: flex;
  align-items: center;
}

.header__col--align--right{
  justify-content: flex-end;
}
