.menu {
  margin-left: 79px;
}

.menu__item{
  display: inline-flex;
  margin-right: 54px;
}
.menu__item:last-child{
  margin-right: 0;
}

.menu__link{
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover{
  color: #F5170E;
  cursor: pointer;
}