.offers{
  padding-top: 123px;
  padding-bottom: 63px;
}

.offers__title{
  color: #fff;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-right: 16px;
  width: 35%;
  margin-bottom: 49px;
}

.offers__title::after{
  content: url("../img/fire.png");
  height: 28px;
  margin-left: 12px;
}

.offers__list{
  display: flex;
  justify-content: space-between;
}

.offers__img{
  min-height: 144px;
}

.offers__item{
  min-height: 450px;
  background: #fff;
  border-radius: 7px;
  width: calc(100% / 3 - 27);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.offers__item:last-child{
  margin-right: 0;
}

.offers__content{
  width: 362px;
  height: 305px;
  left: 389px;
  padding: 28px 21px;
  display: flex;
  flex-direction: column;
}

.offers__dscr{
  flex: 1 1 auto;
}

.offers__subtitle{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.offers__features{
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  width: 280px;
}

.offers__feature{
  font-weight: 400;
  font-size: 16px;
  color: #666666;
}

.offers__feature:last-child{
  margin-right: 0;
}

.offer-info{
  display: flex;
  align-items: center;
}

.offer-info__icon{
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.offer-info--time .offer-info__icon{
  background: url("../img/calendar\ icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.offer-info--meal .offer-info__icon{
  background: url("../img/meal\ icon.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.offer__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 25px;
}

.offer__button{
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
}