.partners{
  background: #e4e4e4;
  padding: 88px 0px 117px 0px;
}

.partners__title{
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  color: #1A1B1E;
  margin-bottom: 73px;
}

.partners__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -70px;
}

.partners__link{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 67px;
  min-width: 231px;
  margin-top: 70px;
}