.page-content{
  padding-top: 98px;
  padding-bottom: 89px;
}

.service{
  margin-bottom: 70px;
}

.service__card{
  display: flex;
  padding-bottom: 45px;
  
}

.service__card:last-child{
  padding-bottom: 59px;
}

.service__img{
  width: 460px;
  margin-right: 57px;
  
}

.service__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 628px;
}

.service__title{
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 29px;
  margin-top: 14px;
}

.service__info{
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color:#303030;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 17px;
}
