.socials{
  /* margin-right: 73px; */
}

.socials__list{
  /* width: 174px; */
  margin-right: 74px;
}

.socials__item{
  margin-right: 10px;
  display: inline-flex;
  vertical-align: middle;
  /* display: block; */
  text-decoration: none;
  width: 36px;
  height: 36px;
  position: relative;
}

.socials__item:last-child{
  margin-right: 0;
}

/* .socials__telegram{
 
} */

.socials__telegram:after{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -122px -66px;
  transition: .2s;
}

.socials__telegram:before{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -122px -10px;
  opacity: 0;
  transition:  .2s;
}

.socials__telegram:hover:after{
  opacity: 0;
}

.socials__telegram:hover:before{
  opacity: 1;
}

.socials__vk:after{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -66px -122px;
  transition: .2s;
}

.socials__vk:before{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -10px -122px;
  opacity: 0;
  transition:  .2s;
}

.socials__vk:hover:after{
  opacity: 0;
}

.socials__vk:hover:before{
  opacity: 1;
}

.socials__Facebook:after{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -10px -10px;
  transition: .2s;
}

.socials__Facebook:before{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -66px -10px;
  opacity: 0;
  transition:  .2s;
}

.socials__Facebook:hover:after{
  opacity: 0;
}

.socials__Facebook:hover:before{
  opacity: 1;
}

.socials__Instagram:after{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -66px -66px;
  transition: .2s;
}

.socials__Instagram:before{
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  background: url("../img/sprites.png") -10px -66px;
  opacity: 0;
  transition:  .2s;
}

.socials__Instagram:hover:after{
  opacity: 0;
}

.socials__Instagram:hover:before{
  opacity: 1;
}