.welcome-page-wrapper{
    background: url("../imgfon/bg.png") center bottom / cover no-repeat;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

.central{
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.welcome__title{
    margin-bottom: 52px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.welcome__button{
    display: inline-flex;
    justify-content: center;
    width: 168px;
    height: 55px;
    background: #F5170E;
    border-radius: 35px;
    color:#fff;
    padding: 18px 58px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.welcome__button:hover{
    background: #DA0100;
    color:#fff;
    cursor: pointer;
}

.central__asia{
  opacity: 0;
  animation: zoom 1s linear forwards;
}

@keyframes zoom{
  from{
    transform: scale(.7);
  }

  20%{
    transform: scale(1.15);
  }

  40%{
    transform: scale(.9);
  }

  60%{
    transform: scale(1.1);
  }

  80%{
    transform: scale(.9);
  }

  to{
    opacity: 1;
    transform: scale(1);
  }
}